/*Window Icon Style*/
.icon {
  width: 150px;
  height: 150px;
  margin-top: -20%;
  margin-left: 26em;
}
#ul-style {
  background-color: grey;
}
li a {
  display: block;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: darkgrey;
}
li a:focus {
  background-color: lightgrey;
}
#link,
#link:hover {
  text-align: unset;
  background-color: unset;
  display: unset;
}
/*Table Style*/
table {
  padding-left: 10px;
}
.tablestyle {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  margin-top: 3pt;
}
tr:hover {
  background-color: rgb(206, 206, 206);
}
.table-style {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.table-style tr:hover {
  background-color: unset;
}
/*Header Style*/
.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  height: 0vw;
  margin-left: 0;
}
.italic-style{
  font-size: 40px; margin-left: 10px;
}
/* .header-style {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 15vmin;
  height: 0vw;
} */
/*Global Style*/
html {
  scroll-behavior: smooth;
}
p {
  text-align: justify;
}
/*Responive Style*/
@media screen and (max-width: 1200px) {
  .header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    height: 0vw;
    margin-left: 0;
  }
  .italic-style{
    font-size: 40px; margin-left: 10px;
  }
  .icon {
    display: none;
  }
  .tablestyle {
    display: none;
  }
}